.header {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84,84,84, .7);
}

@media screen and (max-width: 900px) {
    .header {
        margin-left: 27px;
    }
}

@media screen and (max-width: 690px) {
    .header {
        margin-left: 0;
    }
}

@media screen and (max-width:490px) {
    .header {
        margin-top: 28px;
    }
}