.footer {
    margin: 0 auto;
    max-width: 880px;
    margin-top: 98px;
    margin-bottom: 60px;
}

@media screen and (max-width:900px) {
    .footer {
        margin-left: 19px;
    }
}

@media screen and (max-width:690px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
        max-width: 320px;
    }
}